@use './variaveis';

@mixin botao(){
    text-transform: uppercase;
    font-size: 12px;
    background-color: variaveis.$corPrimaria;
    color: variaveis.$branco;
    border-radius: 20px;
    padding: .7rem 1rem;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}